h1 {
  font-family: "Unica One", sans-serif;
  color: white;
  z-index: 1;
  font-size: 5rem;
  max-width: 450px;
  line-height: 1.3;
  top: 150px;
  left: 80px;
  animation: appear 1s linear forwards;
}
